#include <windows.h>
#include "menu.h"

MYMENU MENU
{
	POPUP "&Изменение размеров фигуры"
	{
		MENUITEM "&Увеличить\t+",IDM_UPPER
		MENUITEM "&Уменьшить\t-",IDM_REDUCE
	}
	POPUP "&Перемещение фигуры"
	{
		MENUITEM "&Вниз\tS",IDM_BOTTOM
		MENUITEM "&Вверх\tW",IDM_TOP
		MENUITEM "&Влево\tA",IDM_LEFT
		MENUITEM "&Вправо\tD",IDM_RIGHT
}
}

ACS ACCELERATORS
{
	"w", IDM_TOP
	"s", IDM_BOTTOM
	"d", IDM_RIGHT
	"a", IDM_LEFT
	"+", IDM_UPPER
	"-", IDM_REDUCE
}